.MainAreaWrapper {
    width: 100%;
    display: flexbox;
    margin-block-start: max(2vh, 20px);
    justify-content: start;
}

.MainAreaText {
    font-family: "Roboto";
    font-size: calc(3vh + 20px);
    font-weight: 500;
    color: black;
    padding: 0px;

    width: 100%;
    max-width: 800px;
    display: flex;
    margin: auto;   
}