.appHeader{
    position: relative;
    display: flex;
    min-height: calc(1vh + 50px);

    border-bottom: 1px solid lightgray;
    box-shadow: 0px 0px 10px lightgray;

    z-index: 2;
    background-color: whitesmoke;
    justify-items: space-between;
}

.appHeaderRow{
    display: inline-flex;
    width: 100%;
    justify-content:space-between;
}
.appHeaderPart{
    box-sizing: border-box;
    display: inline-flex;
    padding: 0px calc(10px + 1vw);
}
.appHeaderText{
    font-family: "Roboto";
    font-size: calc(2vh + 20px);
    font-weight: 400;
    color:rgb(75, 75, 75);
    text-decoration: none;
}
.appHeaderText:hover{
    color:black;
    cursor: pointer;
}
.appHeaderTitle{
    font-weight: 600;
}
