.AuthWrapper{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.AuthWrapperHeader{
    display: flexbox;
}

.AuthWrapperElement{
    align-self: center;
    display: flex;
    margin: auto;
}

.AuthText{
    font-family: "Roboto";
    font-size: calc(1vh + 24px);
    font-weight: 600;
    color:black;
}

.AuthInput{
    width: 98%;
    max-width: 300px;
    padding: .5vh;
    margin: auto;
    font: bolder;
}

.AuthButton{
    display: block;
    width: 100%;
    max-width: 300px;
}

.AuthErrorBox{
    border: 1px solid red;
    border-radius: 5px;
    background-color: lightcoral;
    display: flexbox;
    font-size: calc(.75vh + 12px);
    padding: 10px;
    width: 98%;
    max-width: 300px;
    font: normal;
}