* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-family: inherit;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media (orientation: landscape) {
  .app {
    max-width: 1200px;
  }
}

@media (orientation: portrait) {
  .app {
    max-width: 98%;
  }
}