.loginGroup{
    box-sizing: border-box;
    width: 100%;
    display:block;
}

.loginElement{
    display:block;
    width: calc(100% - 20px);
    margin: 10px 10px 0px 10px;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 24px;
}

.loginButton{
    background-color: whitesmoke;
}
.loginButton:hover{
    cursor: pointer;
    background-color: lightgrey;
}

.loginPrompt{
    text-justify: inter-character;
}

.loginInput{
    border: 1px solid black;
    border-radius: 3px;
}

.loginAlert{
    border: 1px solid yellow;
    background-color: rgb(255, 255, 220);
    border-radius: 0px;
}