.wrapper {
    display: flex;
    flex-direction: column;
    opacity: 1;
    /*initials*/
}

.errorWrapper,
.okWrapper {
    display: flex;
    align-self: flex-start;
    width: unset;
    border-radius: 0;
    padding: .5rem;
    margin-top: .5rem;
}

.errorWrapper {
    border: 1px solid red;
    background-color: rgb(255, 240, 240);
}

.okWrapper {
    border: 1px solid green;
    background-color: rgb(240, 255, 240);

}


.newPasswordInput,
.newPasswordInputHidden {
    display: flex;
    align-self: flex-start;
    width: 32rem;
    height: 3rem;
    max-width: 32rem;
    border: 1px solid black;
    border-radius: 0;
    padding-left: .5rem;
    padding-bottom: .0rem;
    margin-right: 1rem;
    margin-bottom: .3rem;
    margin-top: .3rem;
}
.newPasswordInputHidden{
    font-family: "Password";
}

.menuWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: .3rem;
}

.hideShowBtn {
    margin-right: .3rem;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    width: 6rem;
}

@media (orientation: landscape) {
    .newPasswordInput {
        width: 40rem;
    }
}

@media (orientation: portrait) {
    .newPasswordInput {
        width: 100%;
        margin-right: 0;
    }
}